<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Add New Date</a></li>
  <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
</ul>

<%= @event %>

<%= @schedule %>

<div class="nested-fields">
	<%= f.input :date, input_html: { class: "form-input form-control" } %>
	<%= link_to_remove_association "Remove", f, class: "form-button btn btn-default" %>
	<hr>
</div>



