<h1>About</h1>
<p>Find me in app/views/page/about.html.erb</p>
<p>This will be the first page seen when users are not logged in yet</p>
<p>After an account is created they will see their account page.</p>
