
<div id="home", align="center">
	<h1 align="center">Your Event Hub</h1>
	<br>
	<h4 align="center">The simple app that makes event organization easy!</h4>
	<br>
	<hr>
	<br>
	<div >
	<p>
		Organize and share event information with your patrons from one convenient location.
	</p>
	<br>
	<p>
		Create an account to get started!
	</p>
	<br>
	<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-default btn-lg" %>
</div>